<div id="page-content">
    <h1 class = "text-center mt-2 mb-2"> Articles Listing Page </h1>

        <div class= "container">

            <% @articles.each do |article|%>
            <div class = " row justify-content-md-center " >

                <div class= "col-8 mt-4">
                    <div class="card text-center">
                    <div class="card-header font-italic">
                        <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="true" href="#">Active</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item">

                        </li>
                        </ul>
                    </div>
                
                <div class="card-body font-italic">
                    <h5 class="card-title"><%= link_to article.title, article_path(article), class: "text-dark"%> </h5>
                        <p class="card-text"><%= article.description %></p>

                        <%= link_to 'Show', article_path(article), class: "btn btn-outline-dark" %>
                        <%= link_to 'Edit', edit_article_path(article), class: "btn btn-outline-secondary" %> 
                        <%= link_to 'Destroy', article_path(article), data: {turbo_method: :delete, turbo_confirm: "Are you sure"}, class: "btn btn-outline-danger" %>
                </div>
                    </div>
                </div>
            </div>
        <%end%>
    </div>
</div>


  